body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
 indexBanner,indexMenu,indexProducts{
    overflow-y: scroll;/*随内容变化滚动条*/
    height: 800px;
  }