<el-footer>
    <el-row :gutter="20">
        <el-col :span="4"><div class="grid-content bg-purple"><i class="el-icon-frist-shangpu"></i></div></el-col>
        <el-col :span="4" :push="1"><div class="grid-content bg-purple"><i class="el-icon-frist-xiaoxi"></i></div></el-col>
        <el-col :span="4" :push="2"><div class="grid-content bg-purple"><i class="el-icon-frist-shouye"></i></div></el-col>
        <el-col :span="4" :push="3"><div class="grid-content bg-purple"><i class="el-icon-frist-gouwuche"></i></div></el-col>
        <el-col :span="4" :push="4"><router-link to="/me/main"><div class="grid-content bg-purple"><i class="el-icon-frist-wo"></i></div></router-link></el-col>
        
      </el-row>
      
</el-footer>