<div class="products">
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
    <p>Home products</p>
</div>